# AWS CLI related files
.aws/
*.csv
*.pem
 
# Ignore AWS credentials and config files
~/.aws/credentials
~/.aws/config
 
# Ignore temporary files created during CLI operations
*.log
*.tmp
 
# Terraform or other IaC state files (if applicable)
terraform.tfstate
terraform.tfstate.backup
.terraform/
 
# Ignore IDE specific files
.vscode/
.idea/
 
# General files to ignore
.DS_Store
Thumbs.db